<div class="special-params">
    <div class="form-group">
        <label class="col-sm-4 control-label">{{ priority }}</label>
        <div class="col-sm-3">
            <input type="text" name="priority" value="" size="5" class="form-control" placeholder="0"/>
        </div>
        {% if overwrite is defined %}
            <div class="col-sm-3">
                <label class="col-sm-8 control-label">{{ text_overwrite }}</label>
                <div class="col-sm-2">
                    <input type="checkbox" name="overwrite[priority]" checked="checked" value="1" class="overwrite">
                </div>
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">{{ timer }}</label>
        <div class="col-sm-3">
            <input type="checkbox" name="timer_status" value='1' checked/>
        </div>
        {% if overwrite is defined %}
            <div class="col-sm-3">
                <label class="col-sm-8 control-label">{{ text_overwrite }}</label>
                <div class="col-sm-2">
                    <input type="checkbox" name="overwrite[timer]" checked="checked" value="1" class="overwrite">
                </div>
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">{{ total_discount }}</label>
        <div class="col-sm-3">
            <input type="text" name="total_discount" value="" size="5" class="form-control total_discount"/>
            <select name="discount_type" class="form-control discount_type">
                <option value="percentage">%</option>
                <option value="currency">{{ currency }}</option>
            </select>
        </div>
        {% if overwrite is defined %}
            <div class="col-sm-3">
                <label class="col-sm-8 control-label">{{ text_overwrite }}</label>
                <div class="col-sm-2">
                    <input type="checkbox" name="overwrite[price]" checked="checked" value="1" class="overwrite">
                </div>
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">{{ date_start }}</label>
        <div class="col-sm-3">
            <div class="input-group date">
                <input type="text" name="date_start" value="" maxlength="10" class="form-control"
                       data-date-format="YYYY-MM-DD"/>
                <span class="input-group-btn">
              <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
            </span>
            </div>
        </div>
        {% if overwrite is defined %}
            <div class="col-sm-3">
                <label class="col-sm-8 control-label">{{ text_overwrite }}</label>
                <div class="col-sm-2">
                    <input type="checkbox" name="overwrite[date_start]" checked="checked" value="1" class="overwrite">
                </div>
            </div>
        {% endif %}
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">{{ date_end }}</label>
        <div class="col-sm-3">
            <div class="input-group date">
                <input type="text" name="date_end" value="" maxlength="10" class="form-control"
                       data-date-format="YYYY-MM-DD"/>
                <span class="input-group-btn">
              <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
            </span>
            </div>
        </div>
        {% if overwrite is defined %}
            <div class="col-sm-3">
                <label class="col-sm-8 control-label">{{ text_overwrite }}</label>
                <div class="col-sm-2">
                    <input type="checkbox" name="overwrite[date_end]" checked="checked" value="1" class="overwrite">
                </div>
            </div>
        {% endif %}
    </div>

    {% if hours_days_status %}
        <div class="form-group">
            <label class="col-sm-4 control-label">{{ text_weekdays }}</label>
            <div class="col-sm-3">
                <select name="weekdays[]" id="input-weekdays" multiple="true" class="weekdays">
                    {% for weekday in weekdays %}
                        <option value="{{ weekday.id }}" selected="true">{{ weekday.name }}</option>
                    {% endfor %}
                </select>
            </div>
            {% if overwrite is defined %}
                <div class="col-sm-3">
                    <label class="col-sm-8 control-label">{{ text_overwrite }}</label>
                    <div class="col-sm-2">
                        <input type="checkbox" name="overwrite[weekdays]" checked="checked" value="1" class="overwrite">
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">{{ text_hours }}</label>
            <div class="col-sm-3">
                <select name="hours[]" id="input-hours" multiple="true" class="hours">
                    {% for hour in hours %}
                        <option value="{{ hour.id }}" selected="true">{{ hour.name }}</option>
                    {% endfor %}
                </select>
            </div>
            {% if overwrite is defined %}
                <div class="col-sm-3">
                    <label class="col-sm-8 control-label">{{ text_overwrite }}</label>
                    <div class="col-sm-2">
                        <input type="checkbox" name="overwrite[hours]" checked="checked" value="1" class="overwrite">
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}

    <div class="form-group">
        <label class="col-sm-4 control-label">{{ overwrite is not defined ? text_customer_groups : text_customer_group }}</label>
        <div class="col-sm-3">
            <select name="customer_group_id" {{ overwrite is not defined ? 'multiple="true" class="multiple-select customer_group_id"' : 'class="form-control"' }} >
                {% for customer_group in customer_groups %}
                    <option value="{{ customer_group.customer_group_id }}">{{ customer_group.name }}</option>
                {% endfor %}
            </select>

            {% if overwrite is not defined %}
                {# if we are in the tab set specials, then display hidden input for customer groups #}
                <input type="hidden" name="customer_group_id" value="" class="customer_groups">
            {% endif %}
        </div>
        {% if overwrite is defined %}
            <div class="col-sm-3">
                <label class="col-sm-8 control-label">{{ text_overwrite }}</label>
                <div class="col-sm-2">
                    <input type="checkbox" name="overwrite[customer_group_id]" checked="checked" value="1"
                           class="overwrite">
                </div>
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">{{ text_special_group }}</label>
        <div class="col-sm-3">
            <select name="special_group_id" class="form-control">
                <option value="0"></option>
                {% for special_group in special_groups %}
                    <option value="{{ special_group.product_special_group_id }}">{{ special_group.name }}</option>
                {% endfor %}
            </select>
        </div>
        {% if overwrite is defined %}
            <div class="col-sm-3">
                <label class="col-sm-8 control-label">{{ text_overwrite }}</label>
                <div class="col-sm-2">
                    <input type="checkbox" name="overwrite[special_group_id]" checked="checked" value="1"
                           class="overwrite">
                </div>
            </div>
        {% endif %}
    </div>


    {% if overwrite is defined %}
        <!-- For recognizing the overwritten fields-->
        <input type="hidden" name="overwrite[]" checked="checked" value="1">

        <div class="form-group">
            <div class="col-sm-7"></div>
            <div class="col-sm-3">
                <a onclick="$(this).closest('.special-params').find('.overwrite:checkbox').prop('checked', true);">{{ select_all }}</a>
                /
                <a onclick="$(this).closest('.special-params').find('.overwrite:checkbox').prop('checked', false);"
                   class="unselect-all">{{ unselect_all }}</a>
            </div>
        </div>
    {% endif %}
</div>