{{ header }}
<!--<script>
function f_fb_add_c(product_id,price1)
{
    fbq('track', 'AddToCart', {
content_ids: [product_id],
content_type: 'product',
value: price1,
currency: 'UAH'
});	

}
</script>-->
<div id="product-category" class="container">
	{{ oct_breadcrumbs }}
	<div class="content-top-box">{{ content_top }}</div>
	<div class="us-category-content">
		<div class="row">
			{{ column_left }}
			<div class="ocdepartment-call"></div>
			{% if column_left and column_right %}
			{% set class = 'col-md-6' %}
			{% elseif column_left or column_right %}
			{% set class = 'col-md-9' %}
			{% else %}
			{% set class = 'col-md-12' %}
			{% endif %}
			<div id="content" class="{{ class }}">
			
			{% if fx_span %}
        		{{ fx_span }}
        	{% else %}
				<h1 class="us-main-shop-title">{{ heading_title }}</h1>
        	{% endif %}
			
				{% if oct_ultrastore_data.category_desc_position is defined and oct_ultrastore_data.category_desc_position == 'top' %}
					{% if thumb or description %}
					<div class="us-category-description">
						<div class="d-flex">
							{% if thumb %}
							<div class="us-category-description-img"><img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" /></div>
							{% endif %}
							{% if description %}
							<div id="us-category-description"{% if categories or products %} class="us-category-description-cont"{% endif %}>
								<!--{% if description|length > 500  and (categories or products) %}
								<div class="us-category-description-opacity"></div>
								{% endif %}-->
								<div class="us-category-description-text">{{ description }}</div>
							</div>
							{% endif %}
						</div>
						<!--{% if description and description|length > 500  and (categories or products) %}
						<div class="us-show-more{% if thumb %} with-thumb{% endif %}">
							<a href="javascript:void(0);" class="us-show-more-link" id="us-show-more-link"><span class="us-show-more-expand">{{ oct_expand }}</span><span class="us-show-more-rollup">{{ oct_collapse }}</span><i class="fas fa-angle-down"></i></a>
						</div>
						<script>
							$(function () {
								$('#us-show-more-link').on('click', function () {
									$(this).toggleClass('clicked');
									$('.us-category-description-cont').toggleClass('expanded');
									$('.us-category-description-opacity').toggleClass('hidden');
								});
							});
						</script>
						{% endif %}-->
					</div>
					{% endif %}
				{% endif %}
				{% if categories %}
				<div class="us-subcategory">
					<div id="us-subcat" class="row subcat-row">
						{% for category in categories %}
						<div class="col-3 us-item">
							<a class="subcat-item d-flex flex-column align-items-center" href="{{ category.href }}">
							<img class="subcat-item-img" src="{{ category.image }}" alt="{{ category.name }}" >
							<span class="subcat-item-title">{{ category.name }}</span>
							</a>
						</div>
						{% endfor %}
					</div>
					{% if categories|length > 8 %}
					<div class="us-show-more us-subcat-show-more">
						<a href="javascript:void(0);" id="us-show-more-subcats" class="us-show-more-link"><span>{{ oct_show_more }}</span><i class="fas fa-angle-down"></i></a>
					</div>
					{% endif %}
				</div>
				<script>
					octShowProducts("us-show-more-subcats", "us-subcat", "8", "{{ categories|length }}");
				</script>
				{% endif %}
				{% if products %}
					{% if oct_ultrastore_data.category_view_sort_oder is defined and (oct_ultrastore_data.category_view_sort_oder or oct_ultrastore_data.category_view_sort_oder == 'on') %}
					<div class="us-category-sort-block d-flex justify-content-between">
					
					
											<div class="us-category-appearance btn-group">
							<button type="button" id="list-view" class="us-category-appearance-btn" data-toggle="tooltip" data-placement="top" title="{{ button_list }}"><i class="fa fa-th-list"></i></button>
							<button type="button" id="grid-view" class="us-category-appearance-btn" data-toggle="tooltip" data-placement="top" title="{{ button_grid }}"><i class="fa fa-th"></i></button>
						</div>
						
						
						<div class="pag">
						{{ pagination }}
						</div>
					
					
						<div class="sort-limit">
							<select id="input-sort" class="sort-select" onchange="location = this.value;">
								{% for sorts in sorts %}
									{% if sorts.value == '%s-%s'|format(sort, order) %}
										<option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
									{% else %}
										<option value="{{ sorts.href }}">{{ sorts.text }}</option>
									{% endif %}
								{% endfor %}
							</select>
							<select id="input-limit" class="limit-select" onchange="location = this.value;">
								{% for limits in limits %}
									{% if limits.value == limit %}
										<option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
									{% else %}
										<option value="{{ limits.href }}">{{ limits.text }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>

					</div>
					{% endif %}
					<div class="row">

			{% if sticker_colors is not empty %}
				<style>
					{% for key, sticker_color in sticker_colors %}
					.us-module-stickers-sticker-{{ key }} {
						color:{{ sticker_color.text_color }};
						background:{{ sticker_color.fon_color }};
					}
					{% endfor %}
				</style>
			{% endif %}
			
						{% for product in products %}
						<div class="product-layout product-grid col-sm-3">

							<div class="us-module-item  d-flex flex-column{% if not product.can_buy %} us-no-stock{% endif %}">
							<div class="aval-product-quantity hidden">{{ product.avail_product_quantity }}</div><div class="aval-product-id hidden">{{ product.product_id }}</div>

			{% if product.oct_stickers is not empty%}
			<div class="us-module-stickers">
				{% if oct_sticker_you_save and product.you_save %}
					<div class="us-module-stickers-sticker us-module-stickers-sticker-discount">{{ product.you_save }}</div>
				{% endif %}
				{% for key, oct_sticker in product.oct_stickers %}
					{% if oct_sticker is not empty %}
					<div class="us-module-stickers-sticker us-module-stickers-sticker-{{ key }}">
						{{ oct_sticker }}
					</div>
					{% endif %}
				{% endfor %}
			</div>
			{% endif %}
			
								<ul class="us-module-buttons-list">
									<li class="us-module-buttons-item">
										<a href="javascript:void(0);" onclick="wishlist.add('{{ product.product_id }}');" title="{{ button_wishlist }}" class="us-module-buttons-link us-module-buttons-wishlist"><i class="far fa-heart"></i></a>
									</li>
									<li class="us-module-buttons-item">
										<a href="javascript:void(0);" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');" class="us-module-buttons-link us-module-buttons-compare"><i class="fas fa-sliders-h"></i></a>
									</li>

			{% if oct_popup_view_status %}
			<li class="us-module-buttons-item">
				<a href="javascript:void(0);" class="us-module-buttons-link us-module-buttons-quickview" title="Быстрый просмотр" onclick="octPopUpView('{{ product.product_id }}')"><i class="far fa-eye"></i></a>
			</li>
			{% endif %}
			
								</ul>
								
{# Bulk Specials Editor #}
    {% if product.timer %}
								<span class="percentage-discount">{{ '-' ~ product.percentage_discount }}%</span>
	 {% endif %}
    {# Bulk Specials Editor #}
							<div class="us-module-img">
								<a href="{{ product.href }}" {% if ee_tracking and ee_click %}onclick="ee_product.click('{{ product.product_id }}', '{{ product.ee_position }}', '{{ ee_type }}')"{% endif %}>
								
								
								{% if product.thumb %}
										<img src="{{ product.thumb }}" class="img-fluid" alt="Фото - {{ product.name }}" title="{{ product.name }}" /></a>
										{% else %}
										<img src="/image/placeholder.png" class="img-fluid" alt="Фото - {{ product.name }}" title="{{ product.name }}" /></a>
										{% endif %}
						
								{{ product['stickers'] is defined ? product['stickers'] : '' }}
								
																{# Bulk Specials Editor #}
    {% if product.timer %}
      
    <div class="timer-block">
      
      <div class="timer_{{ product.product_id }}"></div>
    </div>

    <script type="text/javascript">
      $(document).ready(function() {
        $('.timer_{{ product.product_id }}').opencartCountdown({
          until: {{ product.special_date_diff }}
        });
      });
    </script>

    {% endif %}
    {# Bulk Specials Editor #}
								
								

								</div>
								

								
								<div class="us-module-caption d-flex flex-column">
									<div class="us-module-title flex-grow-1">
										<a href="{{ product.href }}" {% if ee_tracking and ee_click %}onclick="ee_product.click('{{ product.product_id }}', '{{ product.ee_position }}', '{{ ee_type }}')"{% endif %}>{{ product.name }}</a>
									</div>
									{% if product.oct_model is not empty %}
									<div class="us-module-model">{{ oct_view_model_cat }}{{ product.oct_model }}</div>
									{% endif %}
									
									<div class="promotion">{{ product.promotion }}</div>
					
									
									{% if product.rating is not same as (false) %}
									<div class="us-module-rating d-flex align-items-center justify-content-center">
										<div class="us-module-rating-stars d-flex align-items-center">
											{% for i in 1..5 %}
											{% if product.rating < i %}
											<span class="us-module-rating-star"></span>
											{% else %}
											<span class="us-module-rating-star us-module-rating-star-is"></span>
											{% endif %}
											{% endfor %}
										</div>
										<div class="us-module-reviews"><i class="fas fa-comment"><span>{{ product.reviews }}</span></i></div>
									</div>
									{% endif %}
									{% if (product.description and product.description|length > 3) %}
										<div class="us-product-list-description">{{ product.description }}</div>
									{% endif %}
									
																	<div class="statuses">{{ product['statuses'] is defined ? product['statuses'] : '' }}</div>
									
									{% if product.sku %}
								<div><span class="product-info-code">{{ oct_live_search_sku }}</span> <span>{{ product.sku }}</span></div>
								{% endif %}
								
																	
							

{% if product.stock_status_id == 11 %}
<span class="outstock">{{ text_pod_zakaz_7 }}</span>

{% elseif product.quantity == 0 %}
<span class="status-stock instock">{{ text_in_stock }}</span>
{% else %}
<span class="outstock">{{ text_out_stock }}</span>
{% endif %}


									

			{% if product.oct_atributes %}
	        <div class="us-category-attr-cont">
			{% for attribute in product.oct_atributes %}
				<span class="us-category-attr-item">
					<span>{{ attribute.name }}:</span> <span>{{ attribute.text }}</span>
				</span>
			{% endfor %}
			</div>
			{% endif %}
			
									{% if product.price %}
									<div class="us-module-price">
									<span class="text-cena">{{ text_cena }}</span>
										{% if not product.special %}
										<span class="us-module-price-actual">{{ product.price }}</span>
										{% else %}
										<span class="us-module-price-new">{{ product.special }}</span><span class="us-module-price-old">{{ product.price }}</span>
										{% endif %}
										{% if product.tax %}
										<div class="price-tax">{{ text_tax }} {{ product.tax }}</div>
										{% endif %}
									</div>
									{% endif %}
									


									
									<a href="javascript:void(0);" {% if ee_tracking and ee_cart %}data-eet-position="{{ product.ee_position }}" data-eet-type="{{ ee_type}}"{% endif %} onclick="cart.add('{{ product.product_id }}');f_fb_add_c('{{ product.product_id }}','{{ product.price1 }}');" class="us-module-cart-btn button-cart">{{ button_cart }}</a>
								</div>
		
						</div>
						</div>
						{% endfor %}
					</div>
					{{ pagination }}
				{% endif %}
				
					{% if options and category_id!=812 %}
	<div class="posad" style="margin-top:40px;">
	
	{% for option in options %}	
	{% include 'default/template/extension/module/ocfilter/filter_item_posad.twig' %}
	{% endfor %}	
	</div>
	{% endif %}	
				
				
				
				{% if oct_ultrastore_data.category_desc_position is defined and oct_ultrastore_data.category_desc_position == 'bottom' %}
					{% if thumb or description %}
					<div class="us-category-description">
						<div>
							{% if thumb %}
							<div class="us-category-description-img-new"><img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" /></div>
							{% endif %}
							{% if description %}
							
								<!--{% if description|length > 500  and (categories or products) %}
								<div class="us-category-description-opacity"></div>
								{% endif %}-->
								<div class="us-category-description-text">{{ description }}</div>
							
							{% endif %}
						</div>
						<!--{% if description and description|length > 500  and (categories or products) %}
						<div class="us-show-more{% if thumb %} with-thumb{% endif %}">
							<a href="javascript:void(0);" class="us-show-more-link" id="us-show-more-link"><span class="us-show-more-expand">{{ oct_expand }}</span><span class="us-show-more-rollup">{{ oct_collapse }}</span><i class="fas fa-angle-down"></i></a>
						</div>
						<script>
							$(function () {
								$('#us-show-more-link').on('click', function () {
									$(this).toggleClass('clicked');
									$('.us-category-description-cont').toggleClass('expanded');
									$('.us-category-description-opacity').toggleClass('hidden');
								});
							});
						</script>
						{% endif %}-->
					</div>
					{% endif %}
				{% endif %}

					{% if video %}
					<div class="description-cont"><iframe width="100%" height="475" src="https://www.youtube.com/embed/{{ video }}" frameborder="0" allowfullscreen></iframe></div>
					{% endif %}
				

					{% if video_ocfilter %}
					<div class="description-cont"><iframe width="100%" height="475" src="https://www.youtube.com/embed/{{ video_ocfilter }}" frameborder="0" allowfullscreen></iframe></div>
					{% endif %}
				
				{% if not categories and not products and (description|striptags is empty) %}
				<p>{{ text_empty }}</p>
				<a href="{{ continue }}" class="us-module-btn mt-3 d-inline-block">{{ button_continue }}</a>
				{% endif %}
			</div>
			{{ column_right }}
		</div>
	</div>
 {% if oct_blogarticles is not empty %}
<div class="h3 reviews-header">Тематичні статті</div>
  <div class="us-blog-category-cont d-flex flex-wrap justify-content-between" style="margin-top:20px;">
       {% for oct_blogarticle in oct_blogarticles %}
     							<div class="us-news-block d-flex flex-column">
								<div class="us-news-block-photo">
									<div class="us-news-stickers-date">
										{{ oct_blogarticle.date_added }}
									</div>
									<a href="{{ oct_blogarticle.href }}" title="{{ oct_blogarticle.name }}" class="h-100 w-100"><img src="{{ oct_blogarticle.thumb }}" class="w-100" alt="{{ oct_blogarticle.name }}"></a>
								</div>
								<div class="us-news-block-cont d-flex flex-column justify-content-start h-100">
									<a href="{{ oct_blogarticle.href }}" class="us-news-block-title">
										{{ oct_blogarticle.name }}
									</a>
									{# Announce hidden: article text length varies per article and broke the category card grid layout.
									<div class="us-news-block-text">
										<p>
											{{ oct_blogarticle.description }}
										</p>
									</div>
									#}
								</div>
							</div>
    {% endfor %}
  </div>
{% endif %}	
	{{ content_bottom }}	
	
	<div class="sp-seo-faq us-html-box" style="margin-top:20px">{{ faq_output }}</div>
								 

</div>

		{# // remarketing #}
		{% if remarketing_code %}{{ remarketing_code }}{% endif %}
	  

    {# Bulk Specials Editor #}
    {{ timer_custom_css_styles is defined ? timer_custom_css_styles : '' }}
    {# Bulk Specials Editor #}
    

{% if ee_tracking and ee_impression %}
    <script type="text/javascript"><!--
        $(document).ready(function() {
            setIntervalEE(function() {
                var ee_data = JSON.parse('{{ ee_impression_data }}');
                ee_data['url'] = window.location.href;
                ee_data['title'] = document.title;
                $.ajax({
                    url: 'index.php?route=extension/module/ee_tracking/listview',
                    type: 'post',
                    data: ee_data,
                    dataType: 'json',
                    success: function(json) {
                        if (json) {
                            console.log(json);
                        }
                    },
                    {% if ee_impression_log %}
                    error: function(xhr, exc, error) {
                        $.post('index.php?route=extension/module/ee_tracking/listviewlog', { 'error': error + ' (exc: ' + exc + ' status: ' + xhr.statusText + ')', 'url': window.location.href }, function( logs ) {
                            console.log(logs);
                        });
                    }
                    {% endif %}
                });
            }, {% if ee_ga_callback %}{{ ee_ga_callback }}{% else %}0{% endif %}, {% if ee_generate_cid %}{{ ee_generate_cid }}{% else %}0{% endif %});
        });
        //--></script>
{% endif %}
{{ footer }}
			