{% if (instructionat) %} 
<h2>{{ text_instruction }}</h2>
<div class="well well-sm">
  <p>{{ instr }}</p>
</div>
{% endif %} 
<div class="buttons">
  <div class="pull-right">
    <input type="button" value="{{ button_confirm }}" id="button-confirm" class="btn btn-primary" data-loading-text="{{ text_loading }}" />
  </div>
</div>
{% if (btnlater) %}<div class="pull-left"><input class="paylater btn btn-secondary" type="button" value="{{ button_later }}" id="button-pay"  style="float:right;" data-loading-text="{{ text_loading }}" /></div> {% endif %} 
<script type="text/javascript"><!--
$('#button-confirm').on('click', function() {
	$.ajax({ 
		type: 'get',
		{% if (notcreate is not defined) %} 
		url: 'index.php?route=extension/payment/{{ pname }}/confirm',
		{% endif %} 
		cache: false,
		beforeSend: function() {
			$('#button-confirm').button('loading');
		},
		complete: function() {
			$('#button-confirm').button('reset');
		},
		success: function() {
			location = '{{ pay_url }}';
		}		
	});
});
{% if (btnlater) %} 
$('#button-pay').on('click', function() {
	$.ajax({ 
		type: 'get',
		url: 'index.php?route=extension/payment/{{ pname }}/confirm',
		cache: false,
		beforeSend: function() {
			$('#button-confirm').button('loading');
		},
		complete: function() {
			$('#button-confirm').button('reset');
		},		
		success: function() {
			location = '{{ payment_url }}';
		}		
	});
});
{% endif %} 
//--></script>