{{ header }} 
{#
##====================================================##
## @author    : OCdevWizard                           ##
## @contact   : ocdevwizard@gmail.com                 ##
## @support   : http://help.ocdevwizard.com           ##
## @copyright : (c) OCdevWizard. In Stock Alert, 2018 ##
##====================================================##
#}
<div class="container">
	<ul class="breadcrumb">
		{% set b_i = 1 %}
		{% for breadcrumb in breadcrumbs %}
		<li>
			{% if (b_i < (breadcrumbs|length)) %}
				<a href="{{ breadcrumb['href'] }}"><span>{{ breadcrumb['text'] }}</span></a>
			{% else %}
				<span>{{ breadcrumb['text'] }}</span>
			{% endif %}
		</li>
		{% set b_i = b_i + 1 %}
		{% endfor %}
	</ul>
	<div class="row">
		{{ column_left }} 
		{% if (column_left and column_right) %} 
		{% set class = 'col-sm-6' %} 
		{% elseif (column_left or column_right) %} 
		{% set class = 'col-sm-9' %} 
		{% else %} 
		{% set class = 'col-sm-12' %} 
		{% endif %} 
		<div id="content" class="{{ class }} {{ _code }}-content">
			{{ content_top }} 
			<h1>{{ heading_title }}</h1>
			<div class="table-responsive" style="overflow-x:unset;" id="history-record">
				<table class="table table-bordered">
					<thead>
					<tr>
						<td class="text-center" width="10%">{{ column_product_image }}</td>
						<td class="text-left" width="25%">{{ column_product_name }}</td>
						<td class="text-left">{{ column_date_added }}</td>
						<td class="text-left">{{ column_processed }}</td>
						<td class="text-center">{{ column_action }}</td>
					</tr>
					</thead>
					<tbody>
					{% if (records) %} 
					{% for record in records %} 
					<tr>
						<td class="text-center" style="vertical-align:middle">
							<a href="{{ record['product_href'] }}" target="_blank">
								<img src="{{ record['product_image'] }}" alt="{{ record['product_name'] }}" class="img-thumbnail"/>
							</a>
						</td>
						<td class="text-left" style="vertical-align:middle">
							<a href="{{ record['product_href'] }}">{{ record['product_name'] }}</a>
							{% if (record['option_name'] and record['option_value']) %} 
								<br>{{ record['option_name'] }}: {{ record['option_value'] }} 
							{% endif %} 
						</td>
						<td class="text-left" style="vertical-align:middle">{{ record['date_added'] }}</td>
						<td class="text-left" style="vertical-align:middle">{{ record['status'] }}</td>
						<td class="text-center" style="vertical-align:middle">
							<button type="button" class="btn btn-danger button-loading-white" onclick="confirm('{{ text_are_you_sure }}') ? make_delete_action({a:this,b:'{{ record['record_id'] }}'}) : false;" data-toggle="tooltip" title="" data-original-title="{{ button_delete }}"><i class="fa fa-trash-o"></i></button>
						</td>
					</tr>
					{% endfor %} 
					{% else %} 
					<tr>
						<td class="text-center" colspan="5">{{ text_no_results }}</td>
					</tr>
					{% endif %} 
					</tbody>
					<tfoot>
					<tr>
						<td colspan="5">
							<div class="row">
								<div class="col-sm-6 text-left">{{ pagination }}</div>
								<div class="col-sm-6 text-right fixed-pagination-results">{{ results }}</div>
							</div>
						</td>
					</tr>
					</tfoot>
				</table>
			</div>
			{{ content_bottom }} 
		</div>
		{{ column_right }} 
	</div>
</div>
{% if (records) %} 
<script>
  function make_delete_action(options) {
    var element = options.a || '',
        id = options.b || '';

    $.ajax({
      type: 'post',
      url: 'index.php?route=extension/ocdevwizard/{{ _name }}/delete_record',
      data: 'delete=' + id,
      dataType: 'json',
      beforeSend: function () {
        $(element).html('<div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>');
        $('[data-toggle=\'tooltip\']').tooltip('destroy');
      },
      complete: function () {
        $(element).html('<i class="fa fa-trash-o"></i>');
        $('[data-toggle=\'tooltip\']').tooltip({container: 'body'});
      },
      success: function (json) {
        location = 'index.php?route=extension/ocdevwizard/{{ _name }}/page';
      },
      error: function (xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  }
</script>
{% endif %} 
{{ footer }}