{#
##====================================================##
## @author    : OCdevWizard                           ##
## @contact   : ocdevwizard@gmail.com                 ##
## @support   : http://help.ocdevwizard.com           ##
## @copyright : (c) OCdevWizard. In Stock Alert, 2018 ##
##====================================================##
#}
{% if (products) %}
	{% for product in products %} 
	<div style="border: 1px solid #dadada; border-radius: 5px; margin: 10px 5px; width: 100%; max-width: 180px; vertical-align: text-top; padding: 15px 15px 5px 15px; display: inline-block; text-align: center;">
		{% if (product['thumb']) %} 
		<a href="{{ product['href'] }}" title="{{ product['name'] }}"><img src="{{ product['thumb'] }}" alt="{{ product['name'] }}" style="width:100%"/></a>
		{% endif %} 
		{% if (product['name']) %} 
		<div style="font-size:16px;margin: 10px 0;min-height: 36px;"><a href="{{ product['href'] }}" title="{{ product['name'] }}">{{ product['name'] }}</a></div>
		{% endif %} 
		{% if (product['option_name'] and product['option_value']) %} 
		<div style="font-size:12px;margin: 10px 0;min-height: 24px;">{{ product['option_name'] }}: {{ product['option_value'] }}</div>
		{% endif %} 
		{% if (product['description']) %} 
		<div style="font-size:12px; min-height: 54px;">{{ product['description'] }}</div>
		{% endif %} 
		{% if (product['price']) %} 
		<div style="width: 100%; margin: 5px 0; text-align: center; min-height: 36px;font-size: 16px;">
			{% if (product['special']) %} 
			<span style="text-decoration: line-through;">{{ product['price'] }}</span>
			<br/>
			<div class="text-danger">{{ product['special'] }}</div>
			{% else %} 
			{{ product['price'] }} 
			{% endif %} 
		</div>
		{% endif %} 
	</div>
	{% endfor %} 
{% endif %}