<div class="{{ page }}-sticker {{ position }}">

  {% for status in statuses %} 
	<div class="{{ page }}-sticker-{{ status['status_id'] }} {{ status['type'] == 'text' ? "text " ~ status['text_type'] : " image-sticker" }} " style="{{ status['type'] == 'image' and status[page ~ '_image_width'] is not empty ? " width:" ~ status[page ~ '_image_width'] ~ "px;" : "" }}{{ status['type'] == 'image' and status[page ~ '_image_height'] is not empty ? " height:" ~ status[page ~ '_image_height'] ~ "px;" : "" }}{{ status['type'] == 'text' and status['font_color'] is not empty ? " color:" ~ status['font_color'] ~ ";" : "" }}{{ status['type'] == 'text' and status['background_color'] is not empty ? " background-color:" ~ status['background_color'] ~ ";" : "" }}{{ status['type'] == 'text' and status['border_color'] is not empty ? " border: 2px solid " ~ status['border_color'] ~ ";" : "" }}">

	{% if (status['url']) %} 
		<a href="{{ status['url'] }}">
	{% endif %}	
	  
		{% set status_name = status['name_attribute'] is not empty ? status['name_attribute']['name'] ~ ': '~ status['name_attribute']['text'] : status['name'] %} 
			
		{% set status_name = status['name_special'] is not empty ? '-' ~ status['name_special'] ~ '%' : status_name %}	
		
		{% if (status['type'] == 'image') %}	
		  <img src="{{ status['thumb'] }}" data-toggle="tooltip" title="{{ options[page]['name_display'] != 'disable' ? status_name : '' }}" alt="{{ status_name }}" />
		{% else %} 
		  {{ status_name }} 
		{% endif %}	

	{% if (status['url']) %} 
		</a>			
	{% endif %}	

  </div>
  {% endfor %} 

</div>