<div class="last-shop-ratings vertical">
    <div class="block_header">
        <h4>{{ heading_title }}</h4>
    </div>
    <div class="block_content">
        <div class="shop_summary_rating">
            <div class="shop_summary_general">
                <div class="shop_summary_general_title">{{ text_summary }}</div>
                <div class="shop_summary_general_rating">{{ general['summ'] }}</div>
                <div class="summary-rate-star-show">
                    <div class="summary-rate-star-show star-change" style="width: {{ general['summ_perc'] }}%"></div>
                </div>
                <div class="shop_summary_general_desc">{{ text_count}} {{ general['count'] }}</div>
            </div>
        </div>

        <div class="last-rating-list">
			{% for rating in ratings %}
				<div class="last-rating-item">
					<div class="last-rating-item-header">
						<div class="rate-author">
							{{ rating['author'] }}
						</div>
						<?php if(isset($show_rating)){ ?>
						<div class="rate-stars">
							<div class="rate-star-show small-stars {% if (rating['shop_rating']) >= 1 %} star-change {% endif %}"></div>
							<div class="rate-star-show small-stars {% if (rating['shop_rating']) >= 2 %} star-change {% endif %}"></div>
							<div class="rate-star-show small-stars {% if (rating['shop_rating']) >= 3 %} star-change {% endif %}"></div>
							<div class="rate-star-show small-stars {% if (rating['shop_rating']) >= 4 %} star-change {% endif %}"></div>
							<div class="rate-star-show small-stars {% if (rating['shop_rating']) >= 5 %} star-change {% endif %}"></div>
						</div>
						<?php } ?>
						<div style="clear: both"></div>
					</div>
					<div class="last-rating-item-comment">{{ rating['comment'] }}</div>
				</div>
			{% endfor %}
			<div class="last-rating-item">
				<a class="btn btn-default" href="{{ href_read_more }}">{{ text_read_more }}</a>
			</div>
		</div>
    </div>
</div>
