{#
##====================================================##
## @author    : OCdevWizard                           ##
## @contact   : ocdevwizard@gmail.com                 ##
## @support   : http://help.ocdevwizard.com           ##
## @copyright : (c) OCdevWizard. In Stock Alert, 2018 ##
##====================================================##
#}
{% if (histories) %}
  <button type="button" onclick="$('#email-template-constructor-block tr.filter-tr').toggle();" class="btn btn-default pull-right" data-toggle="tooltip" title="{{ button_filter }}"><i class="fa fa-search"></i> {{ button_filter }}</button>
  <div class="btn-group pull-right mr-3">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-arrows-v"></i> {{ button_limit }}&nbsp;&nbsp;&nbsp;<span class="caret"></span></button>
    <ul class="dropdown-menu special-dropdown">
      <li class="active"><a href="javascript:void(0)" onclick="email_template_limit({a:this});"><input type="radio" name="limit" value="10" class="hide" checked="checked"/>10</a></li>
      <li><a href="javascript:void(0)" onclick="email_template_limit({a:this});"><input type="radio" name="limit" value="25" class="hide"/>25</a></li>
      <li><a href="javascript:void(0)" onclick="email_template_limit({a:this});"><input type="radio" name="limit" value="50" class="hide"/>50</a></li>
      <li><a href="javascript:void(0)" onclick="email_template_limit({a:this});"><input type="radio" name="limit" value="100" class="hide"/>100</a></li>
    </ul>
  </div>
  <button type="button" onclick="make_full_width_action({a:this});" class="btn btn-default pull-right mr-3" data-toggle="tooltip" title="{{ button_full_width }}"><i class="fa fa-arrows-h"></i> {{ button_full_width }}</button>
  <div class="btn-group">
    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-trash-o"></i> {{ button_delete_menu }}&nbsp;&nbsp;&nbsp;<span class="caret"></span></button>
    <ul class="dropdown-menu special-dropdown">
      <li><a onclick="confirm('{{ text_are_you_sure }}') ? make_delete_action({a:this,b:'email_template',c:'all'}) : false;"><i class="fa fa-trash-o"></i> {{ button_delete_all }}</a></li>
      <li><a onclick="confirm('{{ text_are_you_sure }}') ? make_delete_action({a:this,b:'email_template',c:'all_selected'}) : false;"><i class="fa fa-trash-o"></i> {{ button_delete_selected }}</a></li>
    </ul>
  </div>
	<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-copy"></i> {{ button_copy_menu }}&nbsp;&nbsp;&nbsp;<span class="caret"></span></button>
    <ul class="dropdown-menu special-dropdown">
      <li><a onclick="confirm('{{ text_are_you_sure }}') ? make_copy_action({a:this,b:'email_template',c:'all'}) : false;"><i class="fa fa-copy"></i> {{ button_copy_all }}</a></li>
      <li><a onclick="confirm('{{ text_are_you_sure }}') ? make_copy_action({a:this,b:'email_template',c:'all_selected'}) : false;"><i class="fa fa-copy"></i> {{ button_copy_selected }}</a></li>
    </ul>
  </div>
{% endif %}
<button type="button" onclick="$('a[href=#email-template-constructor-block]').click();$(this).html('<div class=\'spinner\'><div class=\'bounce1\'></div><div class=\'bounce2\'></div><div class=\'bounce3\'></div></div>');" class="btn btn-primary button-loading-white"><i class="fa fa-refresh"></i> {{ button_update }}</button>
<button type="button" onclick="open_email_template(0);" class="btn btn-primary"><i class="fa fa-plus-circle"></i> {{ button_add_email_template }}</button>
<div class="special-margin"></div>
<div class="table-responsive">
  <table class="table table-bordered main-table-data">
    <thead>
      <tr>
        <td width="1" style="text-align: center;"><input type="checkbox" onclick="$('#history-email-template input[name*=\'selected\']').attr('checked', this.checked);" /></td>
        <td class="text-left" width="15%"><a href="javascript:void(0)" onclick="email_template_sort({a:this,b:'et.system_name'});">{{ column_heading }}</a></td>
        <td class="text-left"><a href="javascript:void(0)" onclick="email_template_sort({a:this,b:'et.date_added'});">{{ column_date_added }}</a></td>
        <td class="text-left"><a href="javascript:void(0)" onclick="email_template_sort({a:this,b:'et.date_modified'});">{{ column_date_modified }}</a></td>
        <td class="text-left"><a href="javascript:void(0)" onclick="email_template_sort({a:this,b:'et.status'});">{{ column_status }}</a></td>
        <td class="text-center">{{ column_action }}</td>
      </tr>
      <tr class="filter-tr">
        <td class="text-center fixed-thead"></td>
        <td class="text-center fixed-thead input-group-sm"><input type="text" name="filter_name" value="" class="form-control"/></td>
        <td class="text-center fixed-thead input-group-sm"><input type="text" name="filter_date_added" value="" class="form-control datetime"/></td>
        <td class="text-center fixed-thead input-group-sm"><input type="text" name="filter_date_modified" value="" class="form-control datetime"/></td>
        <td class="text-center fixed-thead input-group-sm">
          <select name="filter_status" class="form-control">
            <option value="*"></option>
            <option value="1">{{ text_enabled }}</option>
            <option value="0">{{ text_disabled }}</option>
          </select>
        </td>
        <td class="text-center fixed-thead">
          <button class="btn btn-default btn-sm button-loading" type="button" data-toggle="tooltip" title="{{ button_filter }}" id="submit-filter-email-template-form"><span class="h-btn-i"><i class="fa fa-search"></i> </span><span class="h-btn-t">{{ button_filter }}</span</button>
          <button class="btn btn-default btn-sm button-loading" type="button" data-toggle="tooltip" title="{{ button_clear_filter }}" id="clear-filter-email-template-form"><span class="h-btn-i"><i class="fa fa-eraser"></i> </span><span class="h-btn-t">{{ button_clear_filter }}</span></button>
        </td>
      </tr>
    </thead>
    <tbody>
      {% if (histories) %}
      {% for history in histories %}
      <tr>
        <td style="text-align: center;"><input type="checkbox" name="selected[]" value="{{ history['template_id'] }}" /></td>
        <td class="text-left">{{ history['name'] }}</td>
        <td class="text-left">{{ history['date_added'] }}</td>
        <td class="text-left">{{ history['date_modified'] }}</td>
        <td class="text-left">{{ history['status'] }}</td>
        <td class="text-center">
          <button type="button" class="btn btn-primary" onclick="open_email_template({a:'{{ history['template_id'] }}'});" data-toggle="tooltip" title="" data-original-title="{{ button_edit }}"><i class="fa fa-pencil"></i></button>
          <button type="button" class="btn btn-warning button-loading-white" onclick="confirm('{{ text_are_you_sure }}') ? make_delete_action({a:this,b:'email_template',c:'selected',d:'{{ history['template_id'] }}'}) : false;" data-toggle="tooltip" title="" data-original-title="{{ button_delete }}"><i class="fa fa-trash-o"></i></button>
          <button type="button" class="btn btn-default button-loading-white" onclick="confirm('{{ text_are_you_sure }}') ? make_copy_action({a:this,b:'email_template',c:'selected',d:'{{ history['template_id'] }}'}) : false;" data-toggle="tooltip" title="" data-original-title="{{ button_copy }}"><i class="fa fa-copy"></i></button>
        </td>
      </tr>
      {% endfor %}
      {% else %}
        <tr>
          <td class="text-center" colspan="6">{{ text_no_results }}</td>
        </tr>
      {% endif %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="6">
          <div class="row">
            <div class="col-sm-6 text-left">{{ pagination }}</div>
            <div class="col-sm-6 text-right fixed-pagination-results">{{ results }}</div>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
<script type="text/javascript">
  $('#history-email-template input[name=\'filter_name\']').autocomplete({
    'source': function(request, response) {
      $.ajax({
        url: 'index.php?route=extension/ocdevwizard/{{ _name }}/autocomplete_email_template&{{ token }}&filter_name='+encodeURIComponent(request),
        dataType: 'json',
        success: function(json) {
          response($.map(json, function(item) {
            return {
              label: item['name'],
              value: item['template_id']
            }
          }));
        }
      });
    },
    'select': function(item) {
      $('#history-email-template input[name=\'filter_name\']').val(item['label']);
    }
  });

  $('#history-email-template .datetime').datetimepicker({
    format:     'YYYY-MM-DD',
    formatDate: 'YYYY-MM-DD',
  });
</script>