{{ header }} 
{{ column_left }} 

<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %} 
	        <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
				{% endfor %} 
      </ul>
    </div>
  </div>
  <div class="container-fluid">
		{% if (error_warning) %} 
	    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
	      <button type="button" class="close" data-dismiss="alert">&times;</button>
	    </div>
		{% endif %} 
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ heading_title }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form" class="form-horizontal">

          <ul class="nav nav-tabs" id="language">
						{% for language in languages %} 
	            <li><a href="#language{{ language['language_id'] }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language['name'] }}" /> {{ language['name'] }}</a></li>
						{% endfor %} 
          </ul>
          <div class="tab-content">
						{% for language in languages %} 
	            <div class="tab-pane" id="language{{ language['language_id'] }}">
	              <table class="table table-striped table-bordered table-hover">
	                <tr>
	                  <td class="required" width="20%">{{ promotion_name }}</td>
	                  <td><input type="text" name="promotion_description[{{ language['language_id'] }}][name]" size="100" value="{{ promotion_description[language['language_id']]['name'] is defined ? promotion_description[language['language_id']]['name'] : '' }}"  class="form-control" />
											{% if (error_name[language['language_id']] is defined) %} 
												<div class="text-danger">{{ error_name[language['language_id']] }}</div>
											{% endif %} 
	                  </td>
	                </tr>

	                <tr>
	                  <td>{{ promotion_product }}</td>
	                  <td><input type="text" name="promotion_description[{{ language['language_id'] }}][product]" value="" class="form-control" /></td>
	                </tr>
	                <tr>
	                  <td>{{ promotion_category_products }}</td>
	                  <td><input type="text" name="promotion_description[{{ language['language_id'] }}][category]" value="" class="form-control" /></td>
	                </tr>
	                <tr>
	                  <td>{{ promotion_manufacturer_products }}</td>
	                  <td><input type="text" name="promotion_description[{{ language['language_id'] }}][manufacturer]" value="" class="form-control" /></td>
	                </tr>
	                <tr>
	                  <td>&nbsp;</td>
	                  <td><div id="products{{ language['language_id'] }}" class="well well-sm" style="height: 100px; overflow: auto;"> 
												{% if (promotion_description[language['language_id']]['products']) %} 
													{% for promotion_product_id,promotion_product_name in promotion_description[language['language_id']]['products'] %} 
														<div id="promotion-product{{ language['language_id'] }}{{ promotion_product_id }}"><i class="fa fa-minus-circle"></i> {{ promotion_product_name }}<input type="hidden" name="promotion_description[{{ language['language_id'] }}][products][]" value="{{ promotion_product_id }}" class="form-control" />
														</div>
													{% endfor %} 
												{% endif %} 
	                    </div>
	                  </td>
	                </tr>

	                <tr>               
	                  <td>{{ promotion_gift }}</td>
	                  <td>
	                    <div class="input-group">
	                      <input type="text" name="promotion_description[{{ language['language_id'] }}][gift_name]" value="{{ promotion_description[language['language_id']]['gift_name'] is defined ? promotion_description[language['language_id']]['gift_name'] : '' }}" id="gift_name{{ language['language_id'] }}" class="form-control" />
	                      <input type="hidden" name="promotion_description[{{ language['language_id'] }}][gift_id]" value="{{ promotion_description[language['language_id']]['gift_id'] is defined ? promotion_description[language['language_id']]['gift_id'] : '' }}" id="gift_id{{ language['language_id'] }}" class="form-control" />
	                      <span class="input-group-btn">
	                        <a onclick="delete_gift({{ language['language_id'] }}); return false;" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
	                      </span>
	                    </div>
	                  </td>
	                </tr>

	                <tr>
	                  <td>{{ promotion_image }}</td>
	                  <td valign="top">
	                    <a href="" id="thumb-image{{ language['language_id'] }}" data-toggle="image" class="img-thumbnail"><img src="{{ thumb[language['language_id']] }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
	                    <input type="hidden" name="promotion_description[{{ language['language_id'] }}][image]" value="{{ promotion_description[language['language_id']]['image'] is defined ? promotion_description[language['language_id']]['image'] : '' }}" id="image{{ language['language_id'] }}"  />
	                  </td>
	                </tr>

	                <tr>
	                  <td>{{ promotion_image_promotion }}</td>
	                  <td valign="top">
	                    <a href="" id="thumb-image-promotion{{ language['language_id'] }}" data-toggle="image" class="img-thumbnail"><img src="{{ thumb_promotion[language['language_id']] }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
	                    <input type="hidden" name="promotion_description[{{ language['language_id'] }}][image_promotion]" value="{{ promotion_description[language['language_id']]['image_promotion'] is defined ? promotion_description[language['language_id']]['image_promotion'] : '' }}" id="image-promotion{{ language['language_id'] }}"  />
	                  </td>
	                </tr>

	                <tr>
	                  <td>{{ promotion_opencart_promotions }}</td>
	                  <td>
	                    <select name="promotion_description[{{ language['language_id'] }}][opencart_promotion]" class="form-control">
	                      <option value="0" {{ promotion_description[language['language_id']]['opencart_promotion'] is empty ? 'selected="selected"' : '' }}>{{ promotion_disable }}</option>
	                      <option value="special" {{promotion_description[language['language_id']]['opencart_promotion'] is not empty and promotion_description[language['language_id']]['opencart_promotion'] == 'special' ? 'selected="selected"' : '' }}>{{ promotion_opencart_special }}</option>
	                      <option value="discount" {{promotion_description[language['language_id']]['opencart_promotion'] is not empty and promotion_description[language['language_id']]['opencart_promotion'] == 'discount' ? 'selected="selected"' : '' }}>{{ promotion_opencart_discount }}</option>
	                    </select>  

	                  </td>
	                </tr>

	                <tr>
	                  <td>{{ promotion_date_start }}</td>
	                  <td>
	                    <div class="input-group datetime">
	                      <input type="text" name="promotion_description[{{ language['language_id'] }}][date_start]" value="{{ promotion_description[language['language_id']]['date_start'] is defined ? promotion_description[language['language_id']]['date_start'] : '' }}" id="date-start{{ language['language_id'] }}" size="12" class="form-control" data-date-format="YYYY-MM-DD HH:mm:ss" />
	                      <span class="input-group-btn">
	                        <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
	                      </span>
	                    </div>
	                  </td>
	                </tr>

	                <tr>
	                  <td>{{ promotion_date_end }}</td>
	                  <td>
	                    <div class="input-group datetime">
	                      <input type="text" name="promotion_description[{{ language['language_id'] }}][date_end]" value="{{ promotion_description[language['language_id']]['date_end'] is defined ? promotion_description[language['language_id']]['date_end'] : '' }}" id="date-end{{ language['language_id'] }}" size="12" class="form-control" data-date-format="YYYY-MM-DD HH:mm:ss" />
	                      <span class="input-group-btn">
	                        <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
	                      </span>
	                    </div>
	                  </td>
	                </tr>

	                <tr>
	                  <td>{{ promotion_update_date }}</td>
	                  <td>
	                    <select name="promotion_description[{{ language['language_id'] }}][update_date]" class="form-control">
	                      <option value="0" {{promotion_description[language['language_id']]['update_date'] is not defined or not promotion_description[language['language_id']]['update_date'] ? 'selected="selected"' : '' }}>{{ promotion_disable }}</option>
	                      <option value="1" {{ promotion_description[language['language_id']]['update_date'] is defined and promotion_description[language['language_id']]['update_date'] ? 'selected="selected"' : '' }}>{{ promotion_enable }}</option>
	                    </select>  

	                  </td>
	                </tr>

	                <tr>
	                  <td>{{ promotion_status }}</td>
	                  <td>
	                    <select name="promotion_description[{{ language['language_id'] }}][status]" class="form-control">
	                      <option value="0" {{promotion_description[language['language_id']]['status'] is not defined or not promotion_description[language['language_id']]['status'] ? 'selected="selected"' : '' }}>{{ promotion_disable }}</option>
	                      <option value="1" {{ promotion_description[language['language_id']]['status'] is defined and promotion_description[language['language_id']]['status'] ? 'selected="selected"' : '' }}>{{ promotion_enable }}</option>
	                    </select>  

	                  </td>
	                </tr>

	                <tr>
	                  <td>{{ promotion_description_text }}</td>
	                  <td><textarea name="promotion_description[{{ language['language_id'] }}][description]" id="description{{ language['language_id'] }}" data-toggle="summernote" class="form-control">{{ promotion_description[language['language_id']]['description'] is defined ? promotion_description[language['language_id']]['description'] : '' }}</textarea>
	                  </td>
	                </tr>

	                <tr>
	                  <td>{{ promotion_description_text_promotion }}</td>
	                  <td><textarea name="promotion_description[{{ language['language_id'] }}][description_promotion]" id="description-promotion{{ language['language_id'] }}" data-toggle="summernote" class="form-control">{{ promotion_description[language['language_id']]['description_promotion'] is defined ? promotion_description[language['language_id']]['description_promotion'] : '' }}</textarea>
	                  </td>
	                </tr>

	              </table>
	            </div>

						{% endfor %} 
          </div>
        </form>  
      </div>
    </div>
  </div>

</div>
<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
<link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
<script type="text/javascript"><!--

  function giftautocomplete(language_id) {
    $('input[name=\'promotion_description[' + language_id + '][gift_name]\']').autocomplete({
      source: function (request, response) {
        $.ajax({
          url: 'index.php?route=extension/module/promotion/productsAutocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
          dataType: 'json',
          success: function (json) {
            response($.map(json, function (item) {
              return {
                label: item['name'],
                value: item['product_id']
              }
            }));
          }
        });
      },
      select: function (item) {
        $('input[name=\'promotion_description[' + language_id + '][gift_name]\']').val(item['label']);
        $('input[name=\'promotion_description[' + language_id + '][gift_id]\']').val(item['value']);

        return false;
      },
      focus: function (event, ui) {
        return false;
      }
    });
  }
  function delete_gift(language_id) {
    $('input[name=\'promotion_description[' + language_id + '][gift_name]\']').val('');
    $('input[name=\'promotion_description[' + language_id + '][gift_id]\']').val('');
  }

// Products
  function products_autocomplete(language_id) {

    $('input[name=\'promotion_description[' + language_id + '][product]\']').autocomplete({
      source: function (request, response) {
        $.ajax({
          url: 'index.php?route=extension/module/promotion/productsAutocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
          dataType: 'json',
          success: function (json) {
            response($.map(json, function (item) {
              return {
                label: item['name'],
                value: item['product_id']
              }
            }));
          }
        });
      },
      select: function (item) {

        $('#promotion-product' + language_id + item['value']).remove();

        $('#products' + language_id).append('<div id="promotion-product' + language_id + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="promotion_description[' + language_id + '][products][]" value="' + item['value'] + '" /></div>');

        $('input[name=\'promotion_description[' + language_id + '][product]\']').val('');

        delete_product(language_id);

        return false;
      },
      focus: function (event, ui) {
        return false;
      }
    });
  }
// Category Products
  function category_products_autocomplete(language_id) {

    $('input[name=\'promotion_description[' + language_id + '][category]\']').autocomplete({
      source: function (request, response) {
        $.ajax({
          url: 'index.php?route=catalog/category/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
          dataType: 'json',
          success: function (json) {
            response($.map(json, function (item) {
              return {
                label: item['name'],
                value: item['category_id']
              }
            }));
          }
        });
      },
      select: function (item) {

        $.ajax({
          url: 'index.php?route=extension/module/promotion/productsAutocomplete&user_token={{ user_token }}&filter_category_id=' + encodeURIComponent(item['value']),
          dataType: 'json',
          success: function (data) {
            $.each(data, function (index, item) {
              $('#promotion-product' + language_id + item.product_id).remove();

              $('#products' + language_id).append('<div id="promotion-product' + language_id + item.product_id + '"><i class="fa fa-minus-circle"></i> ' + item.name + '<input type="hidden" name="promotion_description[' + language_id + '][products][]" value="' + item.product_id + '" /></div>');

              delete_product(language_id);

            });
          }
        });

        $('input[name=\'promotion_description[' + language_id + '][category]\']').val('');

        return false;

      },
      focus: function (event, ui) {
        return false;
      }
    });
  }

// Manufacturer Products
  function manufacturer_products_autocomplete(language_id) {

    $('input[name=\'promotion_description[' + language_id + '][manufacturer]\']').autocomplete({
      source: function (request, response) {
        $.ajax({
          url: 'index.php?route=catalog/manufacturer/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
          dataType: 'json',
          success: function (json) {
            response($.map(json, function (item) {
              return {
                label: item['name'],
                value: item['manufacturer_id']
              }
            }));
          }
        });
      },
      select: function (item) {

        $.ajax({
          url: 'index.php?route=extension/module/promotion/productsAutocomplete&user_token={{ user_token }}&filter_manufacturer_id=' + encodeURIComponent(item['value']),
          dataType: 'json',
          success: function (data) {
            $.each(data, function (index, item) {
              $('#promotion-product' + language_id + item.product_id).remove();

              $('#products' + language_id).append('<div id="promotion-product' + language_id + item.product_id + '"><i class="fa fa-minus-circle"></i> ' + item.name + '<input type="hidden" name="promotion_description[' + language_id + '][products][]" value="' + item.product_id + '" /></div>');

              delete_product(language_id);

            });
          }
        });

        $('input[name=\'promotion_description[' + language_id + '][manufacturer]\']').val('');

        return false;

      },
      focus: function (event, ui) {
        return false;
      }
    });
  }

  function delete_product(language_id) {
    $('#products' + language_id).delegate('.fa-minus-circle', 'click', function () {
      $(this).parent().remove();
    });
  }

  function delete_gift(language_id) {
    $('input[name=\'promotion_description[' + language_id + '][gift_name]\']').val('');
    $('input[name=\'promotion_description[' + language_id + '][gift_id]\']').val('');
  }
  $('.date').datetimepicker({
    pickTime: false
  });
  $('.datetime').datetimepicker({
    pickDate: true,
    pickTime: true
  });
  $('#language a:first').tab('show');

//--></script> 

{% for language in languages %} 

	<script type="text/javascript"><!--
	  giftautocomplete({{ language['language_id'] }});

	  products_autocomplete({{ language['language_id'] }});
	  delete_product({{ language['language_id'] }});

	  category_products_autocomplete({{ language['language_id'] }});
	  manufacturer_products_autocomplete({{ language['language_id'] }});
	//--></script> 

{% endfor %} 

{{ footer }}