{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-salesdrive" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
         {% endif %}
        {% if success %}
        <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
         {% endif %}
        <div class="panel panel-default">
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-salesdrive" class="form-horizontal">
                    
					<div class="form-group">
                        <label class="col-sm-2 control-label" for="input-name">Ваш домен SalesDrive</label>
                        <div class="col-sm-10">
                            <input type="text" name="module_salesdrive_domain" value="{{ module_salesdrive_domain }}" placeholder="{{ entry_domain }}" id="input-domain" class="form-control" />
                            {% if error_domain %}
                            <div class="text-danger">{{ error_domain }}</div>
                            {% endif %}
                        </div>
                    </div>
					
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-limit">Ключ формы</label>
                        <div class="col-sm-10">
                            <input type="text" name="module_salesdrive_key" value="{{ module_salesdrive_key }}" placeholder="{{ entry_key }}" id="input-key" class="form-control" />
                            {% if error_key %}
                            <div class="text-danger">{{ error_key }}</div>
                            {% endif %}
                        </div>
                    </div>
					
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">Статус</label>
                        <div class="col-sm-10">
                            <select name="module_salesdrive_status" id="input-status" class="form-control">
                                <option value="1" {% if module_salesdrive_status %}selected="selected"{% endif %}>Включен</option>
                                <option value="0" {% if not module_salesdrive_status %}selected="selected"{% endif %}>Отключен</option>
                            </select>
                        </div>
                    </div>
					
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">Привязка товара</label>
                        <div class="col-sm-10">
							<input type="radio" id="module_salesdrive_product_bind_id" name="module_salesdrive_product_bind" value="id" {% if module_salesdrive_product_bind == 'id' %}checked{% endif %}> <label style="font-weight: normal; vertical-align: middle;" for="module_salesdrive_product_bind_id">ID (рекомендуется)</label><br>
							<input type="radio" id="module_salesdrive_product_bind_model" name="module_salesdrive_product_bind" value="model" {% if module_salesdrive_product_bind == 'model' %}checked{% endif %}> <label style="font-weight: normal; vertical-align: middle;" for="module_salesdrive_product_bind_model">Модель</label><br>
							<input type="radio" id="module_salesdrive_product_bind_sku" name="module_salesdrive_product_bind" value="sku" {% if module_salesdrive_product_bind == 'sku' %}checked{% endif %}> <label style="font-weight: normal; vertical-align: middle;" for="module_salesdrive_product_bind_sku">SKU</label>
                        </div>
                    </div>
					
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">Язык товаров</label>
                        <div class="col-sm-10">
                            <select name="module_salesdrive_product_language" id="input-status" class="form-control">
							{% for language in languages %}
                                <option value="{{ language.language_id|e }}" {% if language.language_id == module_salesdrive_product_language %}selected{% endif %}>{{ language.name|e }}</option>
							{% endfor %}
                            </select>
						</div>
                    </div>

					{% if module_salesdrive_domain and module_salesdrive_key %}
					<div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">Сопоставление способов оплаты</label>
                        <div class="col-sm-10">
							{% if salesdrive_payment_methods_error %}
							<div class="alert alert-danger">{{ salesdrive_payment_methods_error }}</div>
							{% endif %}
							<table class="table" style="width: auto; margin-bottom: 0;">
							<thead>
								<tr>
									<th width="250">В OpenCart</th>
									<th width="250">В SalesDrive</th>
								</tr>
							</thead>
							<tbody>
								{% for payment_method in payment_methods %}
								<tr>
									<td>{{ payment_method.name }}</td>
									<td><select name="module_salesdrive_match_payment_methods[{{ payment_method.code }}]" style="width:100%">
										<option>---</option>
										{% for salesdrive_payment_method in salesdrive_payment_methods %}
										<option value="{{ salesdrive_payment_method.parameter|e }}" {% if match_payment_methods[payment_method.code] == salesdrive_payment_method.parameter %}selected{% endif %}>{{ salesdrive_payment_method.name|e }}</option>
										{% endfor %}
									</select></td>
								</tr>
								{% endfor %}
							<tbody>
							</table>
                        </div>
					</div>
					
					<div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">Сопоставление способов доставки</label>
                        <div class="col-sm-10">
							{% if salesdrive_shipping_methods_error %}
							<div class="alert alert-danger">{{ salesdrive_shipping_methods_error }}</div>
							{% endif %}
							<table class="table" style="width: auto; margin-bottom: 0;">
							<thead>
								<tr>
									<th width="250">В OpenCart</th>
									<th width="250">В SalesDrive</th>
								</tr>
							</thead>
							<tbody>
								{% for shipping_method in shipping_methods %}
								<tr>
									<td>{{ shipping_method.name }}</td>
									<td><select name="module_salesdrive_match_shipping_methods[{{ shipping_method.code }}]" style="width:100%">
										<option>---</option>
										{% for salesdrive_shipping_method in salesdrive_shipping_methods %}
										<option value="{{ salesdrive_shipping_method.parameter|e }}" {% if match_shipping_methods[shipping_method.code] == salesdrive_shipping_method.parameter %}selected{% endif %}>{{ salesdrive_shipping_method.name|e }}</option>
										{% endfor %}
									</select></td>
								</tr>
								{% endfor %}
							</tbody>
							</table>
                        </div>
					</div>
					{% endif %}
					
					<div class="form-group" style="padding-left: 15px;">
						<button type="submit" form="form-salesdrive" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp; Сохранить</button>
					</div>
					
					{% if module_salesdrive_domain and module_salesdrive_key %}
					<div class="form-group" style="padding-left: 15px; border-bottom: 1px solid #ededed;">
				   		<div class="btn btn-warning" id="fca-import-order"><i class="fa fa-refresh"></i>&nbsp; Синхронизировать все товары</div>
						<script src="view/javascript/salesdrive/sync.js"></script>
						<link type="text/css" href="view/javascript/salesdrive/sync.css" rel="stylesheet" media="screen" />
						<div id="importProductsUrl" style="display: none">{{ synchronize }}</div>
						<div class="fca_ajax_result" style="display: none">Экспортировано товаров: <span id="currentOffset">0</span>. Создано товаров с учетом вариаций: <span id="variationCount">0</span>. Время выполнения: <span id="timeElapsed">0</span>. <span id="sd-finish" style="display: none">ЗАВЕРШЕНО!</span></div>
						<div id="fc_api_project_box">
							<div class="fca_preloader">
								<div>Товары и категории экспортируются. Не закрывайте браузер до завершения экспорта.</div>
								<div class="lds-default">
									<div></div>
									<div></div>
									<div></div>
									<div></div>
									<div></div>
									<div></div>
									<div></div>
									<div></div>
									<div></div>
									<div></div>
									<div></div>
									<div></div>
								</div>
							</div>
						</div>
					</div>
					{% endif %}
					
					<h3 style="margin-top: 33px;">Импорт остатков на складе с SalesDrive</h3>
					<div class="form-group">
                        <label class="col-sm-2 control-label" for="input-feed">Ссылка на YML-экспорт</label>
                        <div class="col-sm-10">
                            <input type="text" name="module_salesdrive_feed" value="{{ module_salesdrive_feed }}" placeholder="Ссылка на YML-экспорт" id="input-feed" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input_gen">Скрипт импорта остатков</label>
                        <div class="col-sm-10">
                            <input type="text" name="module_salesdrive_gen" value="{{ module_salesdrive_import_stock_script }}" id="input_gen" class="form-control" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input_gen">Команда Cron</label>
                        <div class="col-sm-10">
                            <input type="text" name="module_salesdrive_gen" value="curl {{ module_salesdrive_import_stock_script }}" id="input_gen" class="form-control" disabled />
                        </div>
                    </div>
					<div class="form-group" style="padding-left: 15px;">
						<button type="submit" form="form-salesdrive" data-toggle="tooltip" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp; Сохранить</button>
					</div>
					
               		{% if module_salesdrive_domain and module_salesdrive_key %}
               		<h3 style="margin-top: 33px;">Передача статусов с SalesDrive на сайт</h3>
               		<div class="alert alert-info" style="margin-bottom: 0;">В SalesDrive установите веб-хук:
						<ul style="margin-bottom: 5px;">
               			<li>Настройки → Общие настройки и интеграции → Другие сервисы → webhook → Добавить</li>
               			</ul>
               			<strong>Данные веб-хука:</strong>
						<ul>
               			<li>Событие = Изменение статуса заявки</li>
               			<li>Добавьте условия:
               				<ul>
               					<li>Тип = Заявка онлайн</li>
               					<li>Сайт = Текущий сайт (требуется, если у вас несколько сайтов или маркетплейсов)</li>
               				</ul>
						</li>
               			<li>URL для передачи webhook:<br>
               			<input type="text" style="width: 100%" disabled value="{{ module_salesdrive_set_order_status }}">
               			</li>
               			<li>Информация о заявке = Только статусы</li>
               			</ul>
               		</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-status">Сопоставление статусов</label>
						<div class="col-sm-10">
							{% if salesdrive_statuses_error %}
							<div class="alert alert-danger"><?php echo $salesdrive_statuses_error; ?></div>
							{% endif %}	
							<table class="table" style="width: auto; margin-bottom: 0;">
							<thead>
								<tr>
									<th width="250">Статус SalesDrive</th>
									<th width="250">Статус на сайте</th>
								</tr>
							</thead>
							<tbody>
								{% for salesdrive_status in salesdrive_statuses %}
								<tr>
									<td>{{ salesdrive_status.name }}</td>
									<td><select name="module_salesdrive_match_order_statuses[{{ salesdrive_status.id }}]" style="width:100%">
										<option>---</option>
										{% for order_status in order_statuses %}
										<option value="{{ order_status.order_status_id|e }}" {% if match_order_statuses[salesdrive_status.id] == order_status.order_status_id %}selected{% endif %}>{{ order_status.name|e }}</option>
										{% endfor %}
									</select></td>
								</tr>
								{% endfor %}
							<tbody>
							</table>
						</div>
					</div>
					<div class="form-group" style="padding-left: 15px;">
						<button type="submit" form="form-salesdrive" data-toggle="tooltip" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp; Сохранить</button>
					</div>
               		{% endif %}				
					
                </form>
            </div>            
        </div>
    </div>
</div>
{{ footer }}
