{{ header }}
<div class="container">
<nav aria-label="breadcrumb">
  <ul class="breadcrumb us-breadcrumb"">
    {% for breadcrumb in breadcrumbs %}
    <li class="breadcrumb-item us-breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
 </nav> 
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  
    <div class="row">
	<div class="col-lg-12">
		<h1 class="us-main-shop-title">{{ heading_title }}</h1>
	</div>
  </div>
  
  <div class="content-top-box"></div>
  
  
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}

      
      