{{ header }}
<div id="information-information" class="container flex-container">
	{{ oct_breadcrumbs }}
	
	<div class="content-top-box">{{ content_top }}</div>
	<div class="row">{{ column_left }}
	    {% if column_left and column_right %}
	    {% set class = 'col-sm-6' %}
	    {% elseif column_left or column_right %}
	    {% set class = 'col-sm-9' %}
	    {% else %}
	    {% set class = 'col-sm-12' %}
	    {% endif %}
	    <div id="content" class="{{ class }}">
		    <div class="us-content us-content-inform">
		      <!--{{ description }}-->
			  
			  
			  
			  <div class="row">
	
<div class="col-lg-6 col-md-6 about-info">
<p><h1>Добро пожаловать в интернет-магазин Radio Shop!</h1></p>

<p>Для наших Клиентов &ndash; юридических лиц и физических лиц-предпринимателей мы предлагаем особые условия обслуживания на постоянной основе.</p>

<p>Мы работаем по безналичному расчету (с НДС, без НДС). Предоставляем все необходимые документы (по запросу). Гарантируем выполнение сроков поставок и сервисного обслуживания.</p>

<p>Цены на сайте указаны без учета НДС.</p>

<p>Работаем с государственными организациями!</p>

<p>Отправляйте Ваши запросы по адресу: sales@radio-shop.com.ua. Максимальное время обработки запроса - 2 часа.</p>


<img alt="Radio Shop" src="image/data/design/company2.jpg" />
<p>&nbsp;</p>
</div>

	
		 <div class="col-sm-6 form-z">
<i>{{ text_message }}</i>
		  
		  



		  
</div>
		
		
		
<!--<div class="col-lg-5 col-md-5 about-image"><img alt="Radio Shop" src="image/data/design/company2.jpg" /></div>-->
</div>
<h2 style="color:#3399cc; font-size:18px"><strong>Варианты сотрудничества</strong></h2>

<div class="row" style="margin-left:0px;">



<strong>Разовая закупка</strong>

<p>Получаем от вас запрос &ndash; Выставляем счет - Отправляем после оплаты &ndash; Обеспечиваем гарантийное обслуживание &ndash; Информируем об акциях и новинках - Ожидаем очередной заказ :)</p>

<strong>Регулярные закупки</strong>

<p>Оговариваем выгодные условия сотрудничества - Заключаем договор поставки &ndash; Заранее готовим ваш заказ (Товар всегда будет в наличии) &ndash; Подтверждаем ваш запрос &ndash; Выставляем счет &ndash; Отправляем в день оплаты &ndash; Обеспечиваем гарантийное обслуживание - Продолжаем работу по договору &ndash; Информируем об акциях и новинках.</p>

<strong>Крупная закупка</strong>

<p>Оговариваем размер скидки в зависимости от заказа &ndash; Заключаем договор &ndash; Выставляем счет &ndash; Получаем предоплату по условиям договора - Заказываем товар (при отсутствии требуемого кол-ва на складе) - Отправляем заказ &ndash; Обеспечиваем гарантийное обслуживание &ndash; Информируем об акциях и новинках - Ожидаем очередной заказ :)</p>
<strong>Оптовые закупки</strong>

<p>Оптовым клиентам и партнерам предлагаем индивидуальные условия ценовой политики и обслуживания. Просто свяжитесь с нами любым удобным способом!</p>
</div>

<h2 style="text-align:center;color:#3399cc; font-size:18px"><strong>Гарантируем каждому Клиенту</strong></h2>
<div class="row" style="margin-left:0px;margin-top:20px;">


<ul class="spisok">
	<li>Оперативная обработка запросов</li>
	<li>Консультирование и информационное сопровождение по товарам</li>
	<li>Специальные цены для крупных заказов</li>
	<li>Выгодные цены для наших постоянных клиентов</li>
	<li>Акционные предложения на различные группы товаров</li>
	<li>Рассылка новинок и спецпредложений по интересующим товарам</li>
	<li>Обновление и расширение ассортимента для эффективного решения Ваших задач</li>
	<li>Доставка любым удобным способом</li>
	<li>Особые условия для постоянных клиентов: тестовый период, подбор товара, который не входит в ассортимент магазина для комплектации заказа; различные варианты оплаты, бонусы и подарки</li>
	<li>Оформление всех необходимых документов</li>
</ul>

</div>
<h2 style="text-align:center"><strong>Наши Клиенты</strong></h2>

<p>Нашими постоянными клиентами являются компании различного профиля: производственные предприятия, заводы, автотранспортные компании, сервисные центры по ремонту и обслуживанию техники, торговые предприятия, интернет-провайдеры и телекоммуникационные компании, а также многие другие.</p>

<p>&nbsp;</p>

<h3 style="text-align:center"><strong>Отзыв нашего Клиента</strong></h3>

<p>&nbsp;</p>

<p style="text-align:center"><img src="/image/catalog/thanks-2.png" style="width:50%" /></p>

<p>&nbsp;</p>




</div>
		    </div>
	    </div>
	    {{ column_right }}
    </div>
    {{ content_bottom }}
</div>
<style>
ul.spisok li:after {
    left: 70px;
}
@media (min-width: 768px)
{
.form-horizontal .control-label
{
	    text-align: left;
}
}
.zv
{
	margin-left: 3px;
	color: red;
}
.form-z
{
	border: 2px solid #5f87d1;
    padding: 8px 28px;
}
.buttons
{
	border-top: 1px solid #e5e5e5;
    padding-top: 20px;
}
button.button-acc
{
	    color: #fff;
    background: #5f87d1;
    border: 2px solid #5f87d1;

    padding: 7px;
}
button.button-acc:hover
{
	    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.button-acc span
{
	font-size:16px;
}
.button-mes
{
	color: #fff;
    background: #5f87d1;
}
</style> 

<script type="text/javascript">
  setTimeout('location.replace("/company/")', 10000);
</script>

{{ footer }}